@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    height: 100vh;
}
#app,body {
    height: 100%;
}

div.all-page-header>div>div.el-page-header__left>div.el-page-header__back {
    display: none;
}

div.all-page-header>div>div.el-page-header__left>div.el-divider--vertical {
    display: none;
}

.full-header{
    padding: 0 !important;
}

.border-right-my{
    border-right: 5px solid whitesmoke !important;
    border-left: 5px solid whitesmoke !important;
}
div.aside-menu-my>div>ul {
    border-right: 0 !important;
}

.el-main-my{
    padding-top: 0;
}
